.navMenuInner {
	padding: 2rem 1.5rem;
}

.searchInput {
	background: #17191c;
	font-weight: 400;
	color: #999999;
	font-size: 0.9rem;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 1rem;
	border-radius: 0.5rem;
	font-family: 'Inter', sans-serif;
	width: 10rem;
	width: calc(100% - 3rem);
}

.searchBoxContainer {
	text-align: left;
}

.searchInput:hover {
	outline: none;
}

.searchTableOuter {
	width: 100%;
	border-spacing: 0;
	/* margin-bottom: 2rem; */
}

.flexDivMobile {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.flexDiv {
	display: flex;
	height: calc(100vh - 8rem);
	width: 20rem;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	overflow-y: auto;
}

.mobileMenuCloseContainer {
	width: 100%;
	display: flex;
	justify-content: right;
	margin-bottom: 1.5rem;
}