.articleInfoPaneOuter {
	display: flex;
	padding-bottom: 1.5rem;
	align-items: center;
}

.articleInfoDate {
	color: #8e8c99;
	font-weight: 400;
	display: inline-block;
	margin-right: 3rem;
}

.articleInfoCategory {
	color: #8e8c99;
	display: inline-block;
	text-transform: none;
	font-size: 1rem;
	font-family: 'Inter', sans-serif;
	filter: opacity(0.6);
}

.shareMenuIcon {
	color: #d3c8c8;
}

.shareMenuItemText {
	color: #d3c8c8;
	font-weight: 500;
	display: inline-block;
	font-family: 'Inter', sans-serif;
	font-size: 0.95rem;
}

.categoryColorCircle {
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.5rem;
	display: inline-block;
	margin-right: 1rem;
}